body {
  margin: 0;
  padding: 0;
  background-image: url('../public/wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-family: 'Hero', sans-serif;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Reborn', sans-serif;
}

.title span {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 15px; /* Ajuste o espaçamento vertical entre as palavras */
}

.description {
  margin-top: 20px;
  font-size: 1.2em;
  font-family: 'Hero', sans-serif;
}

.description span {
  display: block;
}

.right-section .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.right-section .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section .buttons .btn {
  margin: 10px 0;
  width: 200px; /* Tamanho fixo para todos os botões */
}

.right-section .social-icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 20px;
}

.right-section .social-icons i {
  font-size: 1.5em;
  cursor: pointer;
}
.white-button {
  background-color: white !important;
  color: black;
  border: 1px solid black;
}

.white-button:hover {
  background-color: #f0f0f0;
}
